@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,600;0,700;0,800;1,900&family=Roboto:wght@400;700&display=swap");

:root {
  --dark: #1e1e1e;
  --light: #f2f2f2;
  --input: #fafafa;
  --dark-blue: #1b1e23;
  --light-blue: #5a6273;
  --dark-green: #263a09;
  --light-green: #99d959;
  --highlight-green: #ccf294;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 420px;
  height: 560px;
  background: var(--dark-blue);
}

/*------------*/
/* UTILS      */
/*------------*/

.complete {
  background-color: var(--light-green) !important;
  transition: background-color 0.33s ease-out 0s;
}

.hidden {
  grid-template-rows: 0fr !important;
}

/*------------*/
/* TYPOGRAPHY */
/*------------*/

h1 {
  color: var(--light);
  font-family: Archivo;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 80.3%; /* 1.80675rem */
  text-transform: uppercase;
}

h2 {
  color: var(--light);
  font-family: Archivo;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 91.8%; /* 1.377rem */
  text-transform: uppercase;
}
#modal__header {
  color: var(--light);
  font-family: Archivo;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 80.3%; /* 1.80675rem */
  text-transform: uppercase;
}

.header__date {
  color: var(--light);
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.progress__percent {
  color: var(--light);
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 91.8%; /* 0.6885rem */
}

input {
  color: var(--dark-blue);
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 91.8%; /* 0.918rem */
}

.action__text {
  padding-left: 24px;
}

a,
a:active,
a:visited {
  color: var(--dark);
  text-decoration: none;
}

a:hover {
  color: #000;
}

/*------------*/
/* LAYOUT     */
/*------------*/

.wrapper {
  display: flex;
  padding: 1rem 1rem 0.5rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6875rem;
  flex: 1 0 0;
  align-self: stretch;
  align-items: stretch;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__greeting {
  width: 15.52769rem;
}

.header__date {
  display: flex;
  gap: 0.5rem;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 0.6875rem;
}

.progress__percent {
  /* display: none; */
  align-self: flex-end;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.6875rem;
}

.tasks__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/*------------*/
/* COMPONENTS */
/*------------*/

/* PROGRESS BAR */

.progress__indicator {
  height: 1.125rem;
  border-radius: 0.5rem;
  position: relative;
}

.progress__indicator--fill {
  position: absolute;
  height: 1.125rem;
  width: 0%;
  border-radius: 0.25rem;
  background: linear-gradient(90deg, #1b1e23 -1.08%, #5a6273 100%);
  box-shadow: 0px 4px 4px 0px #000;
  transition: width 0.5s ease-out 0s;
}

/* TASK FORM */

.form__taskname {
  padding: 0.8125rem 1rem;
  width: 100%;
  border-radius: 0.5rem;
  background: var(--light);
  border: none;
  outline: none;
}

.action__button {
  display: inline-flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  color: var(--light);
  background-color: var(--dark-blue);
  border: 2px solid var(--light-green);
  width: 4.4375rem;
  cursor: pointer;
  transition: box-shadow 0.5s ease-out;
  transition: background-color 0.2s ease-out;

}

.action__button:hover {
  background-color: var(--light-green);
  color: var(--dark-blue);
  box-shadow: 0px 0px 5px 0px rgba(204, 242, 148, 0.50);
}

/* TASK LIST */
.task__wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background: #f2f2f2;
  padding: 0.5rem 1rem 0;
  gap: 1rem;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* COMPONENT TYPOGRAPHY */
  color: var(--dark);
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 91.8%; /* 0.918rem */
}

.task__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 1 0 0;
  align-self: stretch;
}

.task__title--check {
  appearance: initial;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  border: 1px solid var(--dark);
  background-color: var(--input);
  box-shadow: rgba(42, 42, 42, 0.75) 0px 0px 4px 0px;
}

.task__title--check:checked {
  background-color: var(--dark-green);
  display: flex;
  align-items: center;
  justify-content: center;
}

.task__title--check:checked::after {
  /* content: "𐄂"; */
  content: "";
  color: var(--highlight-green);
  font-size: 1rem;
}

.task__title--text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-right: 0.5rem;
  flex: 1 0 0;
}

.task__title--action {
  display: flex;
  gap: 1rem;

  & img {
    cursor: pointer;
  }
}

/* NOTES CARDS */
.expandable {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.25s ease-out;
}

.task__note--wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task__note--card {
  display: flex;
  padding: 1rem 0.5rem;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0.5rem;
  color: var(--light);
  background-color: var(--dark);
  /* TYPOGRAPHY */
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 91.8%;
  white-space: pre;
}

/* ADD NOTES */

#addnote {
  resize: none;
  width: 100%;
  height: 5.125rem;
  display: flex;
  padding: 1rem 0.5rem;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
  background: var(--input);
  border: none;
  outline: none;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.task__title--favicon {
  height: 1rem;
  width: auto;
}

dialog[open] {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 80%;
  z-index: 1;
  border: 0;
  background-color: var(--dark);
  color: var(--light);
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modal__input {
  padding: 0.8125rem 1rem;
  width: 15rem;
  border-radius: 0.5rem;
  background: #f2f2f2;
  border: none;
  outline: none;
}
